/* //variables couleurs
$color-theme-light-one : #ff0;
$color-theme-light-two : #ff4;
$color-theme-dark-one : #222;
$color-theme-dark-two : #444;
$color-theme-grey : #eee;
$color-theme-light : #fff;

$font-one : "Grand Hotel", serif;
$font-two : "Open Sans", Helvetica, Arial, sans-serif;



//variables font

$grandHotel: "Grand Hotel", serif;
$openSans: "Open Sans", Helvetica, Arial, sans-serif; */