/*=========================================================
---------------#ABOUT HOME
==========================================================*/
$color-theme-one : rgb(49, 27, 125);
$color-theme-two : rgb(114, 143, 247);
.about-section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.planet-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    @media (max-width: 1024px) {
        flex-direction: column;
        height: 100%;
    }
}
.mars-box{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: url(../media/img/mars-removebg-preview.png) 50% 50%;
    transition: ease-in-out 1s;
    @media (min-width: 1024px){
        position: absolute;
        top: 1150px;
        right: 1150px;
    }
}
.mars-box:hover{
    height: 300px;
    width: 300px;
}
.mars-hide{
    //visibility: hidden;
    @media (min-width: 1024px){
        position: absolute;
        top: 1150px;
        right: 50px;
        z-index: -1;
        opacity: 0;
    }
    @media (max-width: 1023px) {
        display: none;
    }
    text-align: center;
    margin: auto;
    padding: 10px;
    border-radius: 15px;
    transition: all 1.5s linear;
}
.mars-box:hover + .mars-hide{
    //visibility: visible;
    color: rgba(255, 255, 255, 0.7);
    @media (min-width: 1024px){
        display: block;
        z-index: 555;
        opacity: 1;
    }
    @media (max-width: 1023px) {
        display: contents;
    }
}

.jupiter-box{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: url(../media/img/jupiter.png) 50% 50%;
    transition: ease-in-out 1s;
    border: solid 1px $color-theme-two;
    @media (min-width: 1024px){
        position: absolute;
        top: 1450px;
        right: 950px;
    }
}

.jupiter-box:hover{
    height: 300px;
    width: 300px;
}

.jupiter-hide{
    //visibility: hidden;
    @media (min-width: 1024px){
        position: absolute;
        top: 1780px;
        right: 850px;
        z-index: -1;
        opacity: 0;
    }
    @media (max-width: 1023px) {
        display: none;
    }
    text-align: center;
    margin: auto;
    padding: 10px;
    border-radius: 15px;
    transition: all 1.5s linear;
}

.jupiter-box:hover + .jupiter-hide{
    //visibility: visible;
    color: rgba(255, 255, 255, 0.7);
    @media (min-width: 1024px){
        display: block;
        z-index: 555;
        opacity: 1;
    }
    @media (max-width: 1023px) {
        display: contents;
    }
}

.venus-box{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: url(../media/img/venus.png) 50% 50%;
    transition: ease-in-out 1s;
    border: solid 1px $color-theme-one;
    @media (min-width: 1024px){
        position: absolute;
        top: 1550px;
        right: 450px;
    }
}

.venus-box:hover{
    height: 300px;
    width: 300px;
}

.venus-hide{
    //visibility: hidden;
    @media (min-width: 1024px){
        position: absolute;
        top: 1380px;
        right: 50px;
        z-index: -1;
        opacity: 0;
    }
    @media (max-width: 1023px) {
        display: none;
    }
    text-align: center;
    margin: auto;
    padding: 10px;
    border-radius: 15px;
    transition: all 1.5s linear;
}

.venus-box:hover + .venus-hide{
    //visibility: visible;
    color: rgba(255, 255, 255, 0.7);
    @media (min-width: 1024px){
        display: block;
        z-index: 555;
        opacity: 1;
    }
    @media (max-width: 1023px) {
        display: contents;
    }
}

.about-section p {
    font-size: 18px;
    transition: ease-in-out 1s;
}

p span{
    border-bottom: 2px solid $color-theme-one;
    color: #fff;
}


