/*=========================================================
---------------#ABOUT HOME
==========================================================*/

.about-section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.planet-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

@media (max-width: 1024px) {
  .planet-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}

.mars-box {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: url(../media/img/mars-removebg-preview.png) 50% 50%;
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
}

@media (min-width: 1024px) {
  .mars-box {
    position: absolute;
    top: 1150px;
    right: 1150px;
  }
}

.mars-box:hover {
  height: 300px;
  width: 300px;
}

.mars-hide {
  text-align: center;
  margin: auto;
  padding: 10px;
  border-radius: 15px;
  -webkit-transition: all 1.5s linear;
  transition: all 1.5s linear;
}

@media (min-width: 1024px) {
  .mars-hide {
    position: absolute;
    top: 1150px;
    right: 50px;
    z-index: -1;
    opacity: 0;
  }
}

@media (max-width: 1023px) {
  .mars-hide {
    display: none;
  }
}

.mars-box:hover + .mars-hide {
  color: rgba(255, 255, 255, 0.7);
}

@media (min-width: 1024px) {
  .mars-box:hover + .mars-hide {
    display: block;
    z-index: 555;
    opacity: 1;
  }
}

@media (max-width: 1023px) {
  .mars-box:hover + .mars-hide {
    display: contents;
  }
}

.jupiter-box {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: url(../media/img/jupiter.png) 50% 50%;
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
  border: solid 1px #728ff7;
}

@media (min-width: 1024px) {
  .jupiter-box {
    position: absolute;
    top: 1450px;
    right: 950px;
  }
}

.jupiter-box:hover {
  height: 300px;
  width: 300px;
}

.jupiter-hide {
  text-align: center;
  margin: auto;
  padding: 10px;
  border-radius: 15px;
  -webkit-transition: all 1.5s linear;
  transition: all 1.5s linear;
}

@media (min-width: 1024px) {
  .jupiter-hide {
    position: absolute;
    top: 1780px;
    right: 850px;
    z-index: -1;
    opacity: 0;
  }
}

@media (max-width: 1023px) {
  .jupiter-hide {
    display: none;
  }
}

.jupiter-box:hover + .jupiter-hide {
  color: rgba(255, 255, 255, 0.7);
}

@media (min-width: 1024px) {
  .jupiter-box:hover + .jupiter-hide {
    display: block;
    z-index: 555;
    opacity: 1;
  }
}

@media (max-width: 1023px) {
  .jupiter-box:hover + .jupiter-hide {
    display: contents;
  }
}

.venus-box {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: url(../media/img/venus.png) 50% 50%;
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
  border: solid 1px #311b7d;
}

@media (min-width: 1024px) {
  .venus-box {
    position: absolute;
    top: 1550px;
    right: 450px;
  }
}

.venus-box:hover {
  height: 300px;
  width: 300px;
}

.venus-hide {
  text-align: center;
  margin: auto;
  padding: 10px;
  border-radius: 15px;
  -webkit-transition: all 1.5s linear;
  transition: all 1.5s linear;
}

@media (min-width: 1024px) {
  .venus-hide {
    position: absolute;
    top: 1380px;
    right: 50px;
    z-index: -1;
    opacity: 0;
  }
}

@media (max-width: 1023px) {
  .venus-hide {
    display: none;
  }
}

.venus-box:hover + .venus-hide {
  color: rgba(255, 255, 255, 0.7);
}

@media (min-width: 1024px) {
  .venus-box:hover + .venus-hide {
    display: block;
    z-index: 555;
    opacity: 1;
  }
}

@media (max-width: 1023px) {
  .venus-box:hover + .venus-hide {
    display: contents;
  }
}

.about-section p {
  font-size: 18px;
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
}

p span {
  border-bottom: 2px solid #311b7d;
  color: #fff;
}
/*# sourceMappingURL=home.css.map */